yfinance>=0.2.36
requests>=2.31.0
pandas>=2.1.0
fredapi>=0.5.2
python-dotenv>=1.0.1
azure-storage-file-datalake>=12.14.0
pyspark>=3.5.1
setuptools>=69.0.0
transformers>=4.36.0
torch>=2.1.0
duckdb>=0.10.0
dbt-duckdb>=1.7.0
streamlit>=1.32.0
plotly>=5.18.0
openai>=1.12.0